* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: solid 1px;


  }
  
  body {
  font-family: 'Segoe UI', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-color: #000000; /* Color de respaldo si no carga */
  }
  
  .contenedor {
  display: flex;
  }
  
  /* NAV */
  .nav {
 background: linear-gradient(to bottom, #1c1c1c, #2e2e2e); /* De gris muy oscuro a gris oscuro */
  color: white;
  min-width: 200px;
  flex: 1;
  max-width: 300px;
  padding: 20px;
  }
  

  
  .N {
  height: 50px;
  margin-bottom: 15px;
  }


  .chino{
    
  }

  .chino:hover{
 
  }

  .chinito{
    height: 250px;
    display: block;     /* fuerza que cada imagen esté en una nueva línea */
    margin-bottom: 20px; /* espacio debajo de cada imagen */
    max-width: 200px;
  }
  
  /* CONTENIDO */
  .contenido {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
 background: linear-gradient(to bottom,rgba(255, 255, 255, 0.236), rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0)); /* De gris muy oscuro a gris oscuro */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  color: white;
  min-height: 100vh; /* ocupa toda la pantalla */
  }
  
  .contenido  {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  }

h1 {
  font-size: 40px;            /* Tamaño grande */
  cursor: pointer;            /* Cursor tipo mano */
  color: #ffffff;             /* Verde suave */
  transition: all 0.5s ease;
  width: auto;  /* Transición suave para todos los cambios */
}

h1:hover {
  transform: scale(1.1);      /* Aumenta de tamaño */
  color: #ff0033; /* Rojo neón */
  text-shadow: 2px 2px 10px rgba(255, 0, 51, 0.7),  0 0 30px rgba(255, 0, 51, 0.7); /* Brillo rojo */
  filter: saturate(10)
    
}

  
  .galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  }
  
  .tarjeta {
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .tarjeta img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  }
  
  .tarjeta:hover {
  transform: scale(1.05);
  }
  
  /* Proporciones y colores */
  .grande {
  flex-grow: 0;
  background-color: #000000;
  }
  
  .mediana {
  flex: 1;
  background-color: #000000;
  }
  
  .pequeña {
    flex: 1;
  background-color: #000000;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  .pequeña:hover{
  transform: scale(1.1);      /* Aumenta de tamaño */
  color: #ff0033; /* Rojo neón */
  text-shadow: 2px 2px 10px rgba(255, 0, 51, 0.7),  0 0 30px rgba(255, 0, 51, 0.7); /* Brillo rojo */

  }


  .hola2{
    display: flex;
    margin-top: 50px;
    gap: 30px;
    justify-content: center;
  }


  .grande2{
    background-color: #81c784;
    flex: 2; 
  }

  .mediana2{
    background-color: #81c784;
    flex: 3; 
  }

    .hola{
    display: flex;
    margin-top: 50px;
    gap: 30px;
  }

  .pequeña2{
    background-color: #81c784;
  }