* {
margin: 0;
padding: 0;
/*outline: 1px solid black;*/
font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
font-size: 2.8rem;
}

h2 {
font-size: 1.8rem;
}

nav {
background-color: #9FC5F8;
}

.navegator h1, .navegator a {
color: #fff;
}

.navegator {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-inline: 13%;
padding-block: 1.5vh;
}

.nav-title {
flex: 1;
}

.nav-list {
flex: 1;
display: flex;
align-items: center;
justify-content: center;
}

.nav-list ul {
display: flex;
justify-content: space-around;
width: 100%;
}

.nav-list li {
list-style: none;
display: flex;
justify-content: space-between;
}

.nav-list a {
text-decoration: none;
font-weight: 500;
}

.flex-container {
display: flex;
flex-direction: column;
margin-inline: 13%;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom: 2vh;
margin-top: 3vh;
border-bottom: 0.18rem solid #000;
border-radius: 5%;
}

.header h2 {
font-size: 2.2rem;
}

.list {
display: flex;
justify-content: flex-end;
align-items: center;
flex-wrap: wrap;
width: 50%;
font-weight: bold;
}

.list p {
font-size: 1.2rem;
margin-inline: 2%;
}

.list select {
font-size: 1.2rem;
padding: 0.5vh;
border: 0.12rem solid #000;
}

.weather {
display: flex;
text-align: center;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 4vh;
}

.cards {
display: flex;
flex-direction: column;
justify-content: space-between;
padding-block: 2vh;
padding-inline: 4vh;
background-color: #EEEEEE;
width: 16%;
height: 50vh;
}

.cards img {
max-width: 100%;
border-radius: 50%;
}

.cards p, .about p {
font-size: 1.2rem;
}

.degrees {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
}

.hottest {
color: #CF2A27;
}

.coldest {
color: #2B78E4;
}

.galletitas {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-block: 4vh;
border: 0.2rem solid #000;
border-radius: 0.3rem;
}

.galletitas img {
margin: 2vh;
}

.about {
margin: 1vh;
}

.about h3 {
font-size: 1.4rem;
}

.btn {
display: flex;
justify-content: center;
margin-inline: 1.5rem;
width: 13rem;
}

.btn button {
font-size: 1.3rem;
padding: 0.5vh 0.8rem;
max-width: 100%;
background-color: #9FC5F8;
border: 0.15rem solid black;
box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 1);
}