*{
    padding: 0;
    margin: 0;
    outline: solid 1px;
    font-weight: 700; /* negrita */
    font-family: Arial, sans-serif;
}

.top{
    font-size: 15px;
    color: aliceblue;
    width: 1700px;
}

.nav-container{
    border-top: solid 10px #9900ff;
    display: flex;
    justify-content: center;
    gap: 150px;
    background-color: #020202;
    width: 60%;
    margin-left: 230px;
    padding: 20px;
    
}

.search{
    width: 30%;
    box-shadow: 3px 3px 5px #000000;
}

.btn{
    width: 70px;
    background-color: #9900ff;
    color: white;
    box-shadow: 3px 3px 5px #000000;
    
}


.flex-container{
    display: flex;
    margin-left: 165px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.col-l{
    margin-left: 5%;
}

h3{
    margin-top: 10px;
}

.row{
    display: flex;
    width: 617px;
    margin-top: 15px;
}



.user{
    display: flex;
    margin-top: 15px;
    
}
.user-name{
    margin-top: 10px;
    margin-left: 20px;
    color: #9900ff;
}

.btn2{
    height: 30px;
    width: 16%;
    margin-left: 160px;
    background-color: #9900ff;
    margin-top: 20px;
    color: aliceblue;
    border: 3px solid black;
    
}

.avatar-s{
    height: 40px;
}

